[submodule "WeSplit"]
	path = WeSplit
	url = https://github.com/Pattest/WeSplit.git
[submodule "GuessTheFlag"]
	path = GuessTheFlag
	url = https://github.com/Pattest/GuessTheFlag.git
[submodule "RockPaperScissors"]
	path = RockPaperScissors
	url = https://github.com/Pattest/RockPaperScissors.git
[submodule "BetterRest"]
	path = BetterRest
	url = https://github.com/Pattest/BetterRest.git
[submodule "WordScramble"]
	path = WordScramble
	url = https://github.com/Pattest/WordScramble.git
[submodule "Edutainment"]
	path = Edutainment
	url = https://github.com/Pattest/Edutainment.git
[submodule "iExpense"]
	path = iExpense
	url = https://github.com/Pattest/iExpense.git
[submodule "Moonshot"]
	path = Moonshot
	url = https://github.com/Pattest/Moonshot.git
[submodule "Drawing"]
	path = Drawing
	url = https://github.com/Pattest/Drawing.git
[submodule "ActivityTracker"]
	path = ActivityTracker
	url = https://github.com/Pattest/ActivityTracker.git
[submodule "CupcakeCorner"]
	path = CupcakeCorner
	url = https://github.com/Pattest/CupcakeCorner.git
[submodule "Bookworm"]
	path = Bookworm
	url = https://github.com/Pattest/Bookworm.git
[submodule "UnitConverter"]
	path = UnitConverter
	url = https://github.com/Pattest/UnitConverter.git
